<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h2><%= title %></h2>
        <form action="/product/addProduct" method="POST">
            <label for="">Name: </label>
            <input name="product_name"/>
            <label for="">Description: </label>
            <input name="product_description"/>
            <label for="">Image Url:</label>
            <input name="product_image_url"/>
            <label >Category:</label>
            <select id="category_id" name="category_id">
                <% categories.forEach((category) => { %>
                    <option value="<%= category.category_id %>"><%= category.category_name %></option>
                <% }) %>
            </select>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>