<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h2><%= title %></h2>
        <form action="/category/addCategory" method="POST">
            <label for="">Name: </label>
            <input name="category_name"/>
            <label for="">Description: </label>
            <input name="category_description"/>
            <label for="">Image:</label>
            <input name="category_image_url"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>